@import '../Enums/Enum.scss';

.Button {
    width: 154px;
    height: 48px;
    padding: 12px 24px;
    gap: 10px;
    border-radius: 8px 0px 0px 0px;
    background-color: $Slate_Blue_Color; 
  
    &:hover {
      background-color: $Dark_Purple_Color;
    }
  }

  .Big-Button {
    @extend .Button;

    width: 250px;
  }