@import './Enums/etest.tsx'; 

$Black_Color: Black_Color;
$Black_Color2: $Black_Color2;
$Gray_Black_Color: $Gray_Black_Color;
$Dark_Gray_Color: $Dark_Gray_Color;
$Gray_Color: $Gray_Color;
$Dark_Purple_Color: $Dark_Purple_Color;
$Purple_Color: $Purple_Color;
$Blue_Color: $Blue_Color;
$Dark_White_Color: $Dark_White_Color;
$Dark_White_Color_2: $Dark_White_Color_2;
$White_Color: $White_Color;
