@import "../../styles/styles.scss";

.Container {
  display: flex;
  width: 100%;
  padding: 16px 24px;
  align-items: center;
  gap: 628px;
  background-color: $Black_Color;
}

.SearchContainer {
  display: flex;
  width: 434px;
  padding: 8px 16px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: $Gray_Black_Color;
}

.Search {
  flex: 1;
  color: $White_Color;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  background: none;
  outline: none;
}

.SearchButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.SearchIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-left: 8px;
}

.ProfilePictureContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.ProfilePicture {
  border-radius: 50%;
  background-color: $Black_Color;
}
