@import '../../styles/color.scss';

.body{
  margin: 0;
  padding: 0;
}

.MainDiv{
  display: flex;
  width: 388px;
  height: 72px;
  padding-left:  16px;
  padding-right: 10px;
  justify-content: flex-end;
  align-items: center;
  // flex-shrink: 0;
  background-color: $Black_Color;
  border-radius: 8px;
  justify-content: space-between;
} 


.FirstPart{
  display: flex;
  width: 137px;
  height: 43px;
  align-items: flex-start;
  gap: 14.294px;
}


.heart{
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}


.TextPart{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.574px;
}


.title{
  color: $White_Color;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.artistName{
  color: rgba(255, 255, 255, 0.64);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


// .PlayButton{
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background: rgba(255, 255, 255, 0.8);
//     border-radius: 50%;
//     padding: 0.5rem;
//     display: none;
  


// .MainDiv:hover {
//   background: #252525;
//   image: url('../../../../public/Play.svg');
//   background-repeat: no-repeat;
//   background-position: left;
//   // position: absolute;
// }


// .ImageHover:hover{
//   background: #252525;
//   background-image: url('../../../../public/Play.svg'); 
//   background-repeat: no-repeat;
//   background-position: center;
//   position: absolute;
// }



.ThumbNail:hover{
  background: #252525;
  background-image: url('../../../../public/Play.svg');
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
}