$Black_Color: #0f0f0f;
$Black_Color2: #121212;
$Gray_Black_Color: #161616;
$Dark_Gray_Color: #1e1e1e;
$Gray_Color: #232323;
$Dark_Purple_Color: #5e4be2;
$Purple_Color: #5141bf;
$Blue_Color: #2f3355;
$Dark_White_Color: #aaaaaa;
$Dark_White_Color_2: #ababab;
$White_Color: #ffffff;
$Slate_Blue_Color: #696d8c33;
